################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XenovaGamings-Server/bin/Debug/net8.0
/XenovaGamings-Server/XenovaGamings-Server.csproj.user
/XenovaGamings-Server/obj/Debug/net8.0
